{% extends 'base.html.twig' %}

{% form_theme formAddScenario 'bootstrap_4_layout.html.twig' %}

{% block body %}

    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }} text-center">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="block push">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="jumbotron jumbotron-fluid">
                        <h1>Veuillez ajouter votre scénario</h1>
                        <p>Veuillez indiquer dans ce formulaire le nom de votre scénario ainsi que sa première question.</p>
                        <p>Vous pouvez également associer des mots clés à votre scénario afin d'en simplifier la recherche pour l'utilisateur.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card bg-dark text-primary">
                        <div class="card-header" style="text-align: center">
                            <h4>Début du questionnaire</h4>
                        </div>
                        <div class="card-body">

                            {{ form_start(formAddScenario)  }}

                            {{ form_errors(formAddScenario) }}

                            {{ form_row(formAddScenario.nom, {'attr': {'placeholder': "Exemple : Ma moto ne démarre pas"}}) }}

                            <div class="row js-keyword-wrapper"
                                 data-prototype="{{ form_widget(formAddScenario.motCle.vars.prototype)|e('html_attr') }}"
                                 data-index="{{ formAddScenario.motCle|length }}"
                            >
                                {{ form_label(formAddScenario.motCle) }}
                                {% for motCleType in formAddScenario.motCle %}
                                    <div class=" js-keyword-item">
                                        <a href="#" class="js-remove-keyword">
                                            <span class="fa fa-remove">supprimer</span>
                                        </a>
                                        {{ form_row(motCleType.motCle) }}
                                        {{ form_row(formAddScenario.motCle) }}
                                    </div>
                                {% endfor %}
                                <a href="#" class="js-keyword-add">
                                    <span class="fa fa-plus-circle"></span>
                                </a>
                            </div>

                            {{ form_row(formAddScenario.question, {'attr': {'placeholder': "Exemple : La bouton coupe-circuit est il activé ?"}}) }}

                            {{ form_row(formAddScenario.aide, {'attr': {'placeholder': "Exemple : Vous trouverez ce bouton sur le commodo droit de votre moto. Ce dernier est de couleur rouge"}}) }}

                            {{ form_row(formAddScenario.image) }}

                            {{ form_rest(formAddScenario) }}

                            <button type="submit" class="btn btn-success btn-block">Ajouter le scénario et continuer</button>

                            {{ form_end(formAddScenario) }}

                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}