{% extends 'base.html.twig' %}

{% block body %}

    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }} text-center">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="block push">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="jumbotron jumbotron-fluid">
                        <h1>Liste de tous les scénarios</h1>
                        {% if user.motoActive %}
                        <span style="font-size: 25px; font-weight: bold; color: darkorange">Moto active : {{ user.motoActive.modele.marque }} {{ user.motoActive.modele }} {{ user.motoActive.modele.cylindree.valeur }} {{ user.motoActive.annee }}<br>
                        <a href="{{ path('gestionDuCompte') }} " class="btn btn-primary btn-pill" style="font-weight: bold">Changer de moto</a></span>
                        {% else %}
                        <span style="font-size: 25px; font-weight: bold; color: darkorange">Aucune moto active (Vous ne pouvez donc pas jouer un scénario)<br>
                        <a href="{{ path('gestionDuCompte') }} " class="btn btn-primary btn-pill" style="font-weight: bold">Ajouter une moto</a></span>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <h3>Rechercher un scénario <span style="font-weight: bold; color: dodgerblue; font-size: 25px">({{ pagination.getTotalItemCount }} scénario(s) au total)</span>{% if is_granted('ROLE_MODERATEUR') %}<a href="{{ path('add_first_scenario') }}" title="Cliquez pour ajouter un scénario" class="btn btn-pill btn-success" style=" float: right" >+</a>{% endif %}</h3>
                    <form>
                        <div class="input-group mb-3">
                            <input type="text"
                                   name="q"
                                   class="form-control"
                                   placeholder="Vous pouvez rechercher un scénario par son nom ou un mot clé"
                            >
                            <div class="input-group-append">
                                <button type="submit"
                                        class="btn btn-primary fa fa-search">
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row">
                <table class="table table-striped table-responsive-sm table-bordered table-dark table-hover table-outline">
                    <thead>

                        <tr>
                            <th style="vertical-align: middle">Auteur</th>
                            <th style="vertical-align: middle">Nom du scénario</th>
                            <th style="vertical-align: middle">Nombre de questions</th>
                            <th style="vertical-align: middle">Nombre de votes</th>
                            <th style="vertical-align: middle">Satisfaction</th>
                            <th style="vertical-align: middle">Jouer</th>
                            {% if is_granted('ROLE_MODERATEUR') %}
                            <th style="vertical-align: middle">Modifier</th>
                            <th style="vertical-align: middle">Voir</th>
                            {% endif %}
                        </tr>

                    </thead>

                    <tbody>

                    {% for scenario in pagination %}
                        <tr>
                            <td>
                                {{ scenario.user.username }}
                                <br>
                                {% if scenario.user.image %}
                                <img
                                        src="{{ asset(scenario.user.image.webPath) }}"
                                        alt="{{ scenario.user.image.alt }}"
                                        width="60px"
                                        height="60px"
                                        class="img-responsive img-circle"
                                />
                                {% else %}
                                <td>Aucun avatar</td>
                                {% endif %}
                            </td>

                            <td>{{ scenario.nom }}</td>
                            <td>{{ scenario.questionReponses.count }}</td>
                            <td>{{ scenario.historiques.count }}</td>

                            {% if scenario.historiques.count > 0 %} }
                                <td>
                                    <div class="clearfix">
                                        <div class="float-center">
                                            <strong>{{ scenario.satisfactionPourcentage|number_format }}%</strong>
                                        </div>
                                    </div>

                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated
                                            {% if scenario.satisfactionPourcentage <= 35 %}
                                                bg-danger
                                            {% elseif  scenario.satisfactionPourcentage >= 75%}
                                                bg-success
                                            {% else %}
                                                bg-warning
                                            {% endif %}"
                                             role="progressbar"
                                             aria-valuenow="{{ scenario.satisfactionPourcentage }}"
                                             aria-valuemin="0" aria-valuemax="100" style="width:
                                            {% if scenario.satisfactionPourcentage == 0 %}
                                                    100%;
                                            {% else %}
                                                {{ scenario.satisfactionPourcentage }}%;
                                            {% endif %}
                                                    ">

                                        </div>
                                    </div>
                                </td>
                            {% else %}
                                <td>Aucun vote</td>
                            {% endif %}

                            {% if user.motoActive %}
                                <td>
                                    <a href="{{ path('scenario_play', {'id': scenario.id, 'id_question' :scenario.questionReponses.first.id}) }}" class="btn btn-success btn-pill" style="font-weight: bold">Démarrer</a>
                                </td>
                            {% else %}
                                <td>
                                    <button class="btn btn-success disabled" style="font-weight: bold">Démarrer</button>
                                </td>
                            {% endif %}

                            {% if is_granted('ROLE_MODERATEUR') %}
                                {% if is_granted('ROLE_ADMIN') or user.id == scenario.user.id %}
                                    <td>
                                        <a href="{{ path('list_question_reponse', {'id': scenario.id}) }}" class=" btn btn-warning btn-pill" style="font-weight: bold">Modifier</a>
                                    </td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            {% endif %}

                            {% if is_granted('ROLE_MODERATEUR') %}
                                {% if is_granted('ROLE_ADMIN') or user.id == scenario.user.id %}
                                <td>
                                    <a href="{{ path('scenario_show', {'id': scenario.id}) }}" class=" btn btn-info btn-pill" style="font-weight: bold">Voir le scénario</a>
                                </td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            {% endif %}
                        </tr>
                    {# Si aucun scénario n'est trouvé dans la pagination #}
                    {% else %}
                        <tr>
                            <td colspan="12">Aucun scénario n'est enregistré pour le moment</td>
                        </tr>
                    {% endfor %}

                    </tbody>

                </table>
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>

{% endblock %}