{% extends 'base.html.twig' %}

{% block body %}

<div class="block push">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="jumbotron jumbotron-fluid text-center">
                    <h1>Scénario : {{ scenario.nom }}</h1>
                    <p>Moto actuelle : </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card bg-dark mb-3 text-white text-center">
                    {% if questionReponse.estSolution %}
                    <div class="card-header bg-success">
                            <h2 style="color: black">Solution !</h2>
                        {% else %}
                        <div class="card-header bg-primary">
                            <h2 style="color: black">Question</h2>
                        {% endif %}
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12" id="playQR">
                                {{ questionReponse.question }}
                            </div>
                        </div>
                        <hr>
                        {% if questionReponse.aide %}
                        <div class="row">
                            <div class="col-sm-12" style="margin-top: 10px" id="playQR">
                                <h4 class="text-primary">Aide :</h4>
                                {{ questionReponse.aide }}
                            </div>
                        </div>
                        <hr>
                        {% endif %}
                        {% if questionReponse.image %}
                        <div class="row">
                            <div class="col-sm-12" style="margin-bottom: 20px">
                                <h4 class="text-primary">Image d'aide :</h4>
                                <td>
                                <img
                                        src="{{ asset(questionReponse.image.webPath) }}"
                                        alt="{{ questionReponse.image.alt }}"
                                        width="400px"
                                        height="300px"
                                        class="img-responsive img-circle"
                                />
                                </td>
                            </div>
                        </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-sm-12">
                                {% if questionReponse.idQuestionSiOui %}
                                    <a href="{{ path('scenario_play', {'id': scenario.id,'id_question': questionReponse.idQuestionSiOui.id}) }}" class="btn btn-success btn-inline" style="display: block; float: right; width: 50%; margin-left: -5px;">Oui</a>
                                {% endif %}
                                {% if questionReponse.idQuestionSiNon %}
                                    <a href="{{ path('scenario_play', {'id': scenario.id,'id_question': questionReponse.idQuestionSiNon.id}) }}" class="btn btn-danger  btn-inline" style="display: block; float: left; width: 50%; margin-left: -5px;">Non</a>
                                {% endif %}
                                {% if questionReponse.estSolution %}
                                    <p>Cette réponse vous a t'elle été utile ?</p>
                                    {{ form_start(formVote) }}

                                    {{ form_row(formVote.VoteOui) }}

                                    {{ form_row(formVote.VoteNon) }}

                                    {{ form_rest(formVote) }}

                                    {{ form_end(formVote) }}
                                {% endif %}
                                {% if questionReponse.idQuestionSiJenesaispas %}
                                    <a type="submit" href="{{ path('scenario_play', {'id': scenario.id,'id_question': questionReponse.idQuestionSiJenesaispas.id}) }}" class="col-mb-6 btn btn-primary" style="display: block; float: left; width: 50%; margin-left: -5px;">Je ne sais pas</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}