{% extends 'base.html.twig' %}



{% block body %}

    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }} text-center">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="block push">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="jumbotron jumbotron-fluid">
                        <h1>Récupération de votre mot de passe</h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="card bg-dark text-primary">
                        <div class="card-header" style="text-align: center">
                            <h4>Veuillez indiquer votre adresse email</h4>
                        </div>
                        <div class="card-body">
                            <form action="" method="post">

                                {{ form_start(formForgetPassword) }}

                                {{ form_errors(formForgetPassword) }}

                                {{ form_row(formForgetPassword.email, {'attr': {'placeholder': "Exemple : Rascar@gmail.com"}}) }}

                                <button type="submit" class="btn btn-block btn-success"><h4>Récupérer son mot de passe</h4></button>

                                {{ form_rest(formForgetPassword) }}

                                {{ form_end (formForgetPassword) }}

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}