{% extends 'base.html.twig' %}

{% block body %}

    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }} text-center">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="block push">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="jumbotron jumbotron-fluid">
                        <h1>Récupération de votre mot de passe</h1>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12">
                    <div class="card bg-dark text-primary">
                        <div class="card-header" style="text-align: center">
                            <h4>Veuillez remplir ce formulaire pour modifier votre mot de passe</h4>
                        </div>
                        <div class="card-body">
                            {{ form_start(formResetPassword) }}

                            {{ form_errors(formResetPassword) }}

                            {{ form_row(formResetPassword.password) }}

                            {{ form_row(formResetPassword.confirm_password) }}

                            <button type="submit" class="btn btn-success btn-block">
                                Modifier le mot de passe
                            </button>

                            {{ form_rest(formResetPassword) }}

                            {{ form_end(formResetPassword) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}