{% extends 'base.html.twig' %}

{% block body %}

    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }} text-center">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="block push">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="jumbotron jumbotron-fluid">
                        <h1>Liste de toutes les cylindrées</h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <h3>Rechercher une cylindrée <span style="font-weight: bold; color: dodgerblue; font-size: 25px">({{ pagination.getTotalItemCount }} cylindrée(s) au total)</span><a href="{{ path('cylindree_new') }}" title="Cliquez pour ajouter une cylindrée"> <button style="float: right" class="btn btn-pill btn-success">+</button></a></h3>
                    <form>
                        <div class="input-group mb-3">
                            <input type="text"
                                   name="q"
                                   class="form-control"
                                   placeholder="Vous pouvez rechercher une cylindrée par sa valeur"
                            >
                            <div class="input-group-append">
                                <button type="submit"
                                        class="btn btn-primary fa fa-search">
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row">
                <table class="table table-hover table-responsive-sm">
                    <thead>
                        <tr>
                            <th>Valeur</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for cylindree in pagination %}
                        <tr>
                            <td>{{ cylindree.valeur }}</td>
                            <td colspan="6">
                                <a href="{{ path('cylindree_show', {'id': cylindree.id}) }}"><button class="btn-info btn">Voir la cylindrée</button></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="12">Aucune cylindrée n'est enregistrée pour le moment</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}