{% extends 'base.html.twig' %}

    {% block body %}

        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ type }} text-center">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div class="block push">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="jumbotron jumbotron-fluid">
                            <h1>Liste des questions du scénario :<br> {{ scenario.nom }}</h1>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <h3>Rechercher une question <span style="font-weight: bold; color: dodgerblue; font-size: 25px">({{ pagination.getTotalItemCount }} question(s) au total)</span><a href="{{ path('scenario_list') }}" class="btn btn-info text-right" style="float: right">Revenir à la liste des scénarios</a></h3>
                        <form>
                            <div class="input-group mb-3">
                                <input type="text"
                                       name="q"
                                       class="form-control"
                                       placeholder="Vous pouvez rechercher une question par son nom"
                                >
                                <div class="input-group-append">
                                    <button type="submit"
                                            class="btn btn-primary fa fa-search">
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <table class="table table-dark text-center table-hover inline-table">
                        <thead>
                        <tr>
                            <th style="vertical-align: middle">ID</th>
                            <th style="vertical-align: middle">Question</th>
                            <th style="vertical-align: middle">Aide</th>
                            <th style="vertical-align: middle">Image</th>
                            <th style="vertical-align: middle">ID si oui</th>
                            <th style="vertical-align: middle">ID si non</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for questionReponse in pagination %}
                            {% if questionReponse.estSolution %}
                            <tr style="background: green">
                            {% else %}
                            <tr>
                            {% endif %}
                                <td>{{ questionReponse.id }}</td>
                                <td>{{ questionReponse.question }}</td>

                                {% if questionReponse.aide %}
                                    <td>{{ questionReponse.aide }}</td>
                                {% else %}
                                    <td>Aucune aide</td>
                                {% endif %}

                                {% if questionReponse.image %}
                                    <td>
                                        <img
                                                src="{{ asset(questionReponse.image.webPath) }}"
                                                alt="{{ questionReponse.image.alt }}"
                                                width="50px"
                                                height="50px"
                                                class="img-responsive img-circle"
                                        />
                                    </td>
                                {% else %}
                                    <td>Non</td>
                                {% endif %}

                                {% if questionReponse.idQuestionSiOui %}
                                    <td>{{ questionReponse.idQuestionSiOui.id }}</td>
                                {% else %}
                                    <td>Aucune</td>
                                {% endif %}

                                {% if questionReponse.idQuestionSiNon %}
                                    <td>{{ questionReponse.idQuestionSiNon.id }}</td>
                                {% else %}
                                    <td>Aucune</td>
                                {% endif %}

                                <td>
                                    <a href="{{ path('edit_question_reponse', {'id': questionReponse.id}) }}" class=" btn btn-warning">Modifier</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>

    {% endblock %}
