{% extends 'base.html.twig' %}


    {% block body %}

        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ type }} text-center">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div class="block push text-center">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="jumbotron jumbotron-fluid">
                            <h1>Ajouter une moto à votre profil</h1>
                            <p>Attention ! Vous ne pouvez avoir qu'une seule fois la même moto liée à votre profil</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card bg-dark text-primary">
                    <div class="card-header" style="text-align: center">
                        <h4>Veuillez remplir ce formulaire pour ajouter une moto à votre profil</h4>
                    </div>

                    <div class="card-body">

                        {{ form_start(form) }}

                        {{ form_errors(form) }}

                        {{ form_row(form.marque) }}

                        {{ form_row(form.modele) }}

                        {{ form_row(form.cylindree) }}

                        {{ form_row(form.annee) }}

                        {{ form_rest(form) }}

                        <button class="btn btn-success btn-large btn-block">{{ button_label|default('Ajouter la moto') }}</button>

                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>
    {% endblock %}