{% extends 'base.html.twig' %}

{% form_theme formUpdateUser 'bootstrap_4_layout.html.twig' %}

{% block body %}

    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }} text-center">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron jumbotron-fluid text-center">
                    <h1>Bienvenue {{ user.username }}</h1>
                    {% if user.motoActive %}
                        <span style="font-size: 25px; font-weight: bold; color: darkorange">Moto active : {{ user.motoActive.modele.marque }} {{ user.motoActive.modele }} {{ user.motoActive.modele.cylindree.valeur }} {{ user.motoActive.annee }}</span>
                    {% else %}
                        <span style="font-size: 25px; font-weight: bold; color: darkorange">Aucune moto active (elle ne sera donc pas disponible dans votre historique)</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
        
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div id="accordion" role="tablist">
                    {# Card 1 : Gestion des informations de l'utilisateur #}
                    <div class="card bg-dark border-primary">
                        <div class="card-header" role="tab" id="headingOne">
                            <h5 class="mb-0" style="text-align: center">
                            <a data-toggle="collapse"  href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="">
                            Gestion de vos informations
                            </a>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" style="">
                            <div class="card-body">
                                <div class="col-lg-12">
                                    <div class="card bg-dark text-primary card">
                                        <div class="card-header" style="text-align: center">
                                            <h4>Vos informations personnelles</h4>
                                        </div>
                                        <div class="card-body">
                                            {% if user.image %}

                                                <div class="form-group row">

                                                    <label for="" class="col-form-label" style="margin-right: 25px; margin-left: 18px; margin-top: 25px;"><h4>Votre avatar actuel :</h4></label>

                                                    <div class="form-group">

                                                        <img
                                                                src="{{ asset(user.image.webPath) }}"
                                                                alt="{{ user.image.alt }}"
                                                                width="100px"
                                                                height="100px"
                                                                class="img-responsive img-circle"
                                                        />

                                                    </div>
                                                </div>

                                            {% endif %}

                                            {{ form_start(formUpdateUser) }}

                                            {{ form_errors(formUpdateUser) }}

                                            {{ form_row(formUpdateUser.username) }}

                                            {{ form_row(formUpdateUser.email) }}

                                            {{ form_row(formUpdateUser.image,  {attr: {'placeholder' : 'Choissisez votre image'} }) }}

                                            <br>
                                            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                                            <button type="submit" class="btn btn-success ">
                                                Enregistrer les modifications
                                            </button>
                                            </div>
                                            {{ form_rest(formUpdateUser) }}

                                            {{ form_end(formUpdateUser )}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>

                    {# Card 2 : Gestion des motos de l'utilisateur #}
                    <div class="card bg-dark border-primary">
                        <div class="card-header" role="tab" id="headingTwo">
                            <h5 class="mb-0" style="text-align: center">
                                <a data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="">
                                    Gestion de vos motos
                                </a>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion" style="">
                            <div class="card-body">
                                <div class="col-lg-12">
                                    <div class="card bg-dark text-primary card">
                                        <div class="card-header" style="text-align: center">
                                            <h4>Voici la liste de toutes vos motos</h4>
                                        </div>
                                        <div class="card-body text-center">
                                            <table class="table table-striped table-dark table-hover table-bordered table-responsive-sm">
                                                <thead>
                                                <tr>
                                                    <th>Logo</th>
                                                    <th>Marque</th>
                                                    <th>Modele</th>
                                                    <th>Cylindrée</th>
                                                    <th>Année</th>
                                                    <th>Activer</th>
                                                    <th>Supprimer</th>
                                                </tr>
                                                </thead>

                                                <tbody>
                                                {% for moto in user.motos %}
                                                    <tr>
                                                        <td>
                                                            {% if moto.Modele.marque.image %}
                                                                <img
                                                                        src="{{ asset(moto.Modele.marque.image.webPath) }}"
                                                                        alt="{{ moto.Modele.marque.image.alt }}"
                                                                        width="50px"
                                                                        height="50px"
                                                                        class="img-responsive img-circle"
                                                                />
                                                            {% endif %}
                                                        </td>
                                                        <td>{{ moto.Modele.Marque.Nom }}</td>
                                                        <td>{{ moto.Modele.Nom }}</td>
                                                        <td>{{ moto.Modele.Cylindree.Valeur }}</td>
                                                        <td>{{ moto.Annee }}</td>
                                                        {% if user.motoActive == moto %}
                                                            <td><img
                                                                 src="{{ asset('Images/Check_icon.svg.png') }}"
                                                                 width="50px"
                                                                 height="50px"
                                                                 class="img-responsive img-circle"
                                                                >
                                                            </td>
                                                        {% else %}
                                                            <td>
                                                                <a href="{{ path('user_active_moto', {'id': moto.id}) }}" type="button" class="btn btn-pill btn-md btn-info">Activer</a>
                                                            </td>
                                                        {% endif %}
                                                        <td>
                                                            <a href="{{ path('user_delete_moto', {'id': moto.id}) }}" type="button" class="btn btn-pill btn-md btn-danger">X</a>
                                                        </td>
                                                    </tr>
                                                {% else %}
                                                    <tr>
                                                        <td colspan="12" class="input-block-level">Aucune moto n'est liée à votre profil pour le moment</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>

                                            </table>
                                            <a href="{{ path('moto_new') }}"><button class="btn btn-success">Ajouter une moto à votre profil</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>

                    {# Card 3 : Gestion de l'historique de l'utilisateur #}
                    <div class="card bg-dark border-primary">
                        <div class="card-header" role="tab" id="headingThree">
                            <h5 class="mb-0" style="text-align: center">
                                <a class="" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Historique de vos diagnostics
                                </a>
                            </h5>
                        </div>

                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion" style="">
                            <div class="card-body">
                                <div class="col-lg-12">
                                    <div class="card bg-dark text-primary card">
                                        <div class="card-header" style="text-align: center; margin-bottom: 15px;">
                                            <h5>Vous retrouverez ici tous les diagnostics éffectués et la moto associée</h5>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h3>Rechercher un historique</h3>
                                                <form>
                                                    <div class="input-group mb-3">
                                                        <input type="text"
                                                               name="q"
                                                               class="form-control"
                                                               placeholder="Vous pouvez rechercher un historique par le nom du scénario ou une de vos motos"
                                                        >
                                                        <div class="input-group-append">
                                                            <button type="submit"
                                                                    class="btn btn-primary fa fa-search">
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <table class="table table-striped table-dark table-hover table-bordered table-responsive-sm">
                                                <thead>
                                                <tr>
                                                    <th>Auteur</th>
                                                    <th>Scénario</th>
                                                    <th>Solution trouvée</th>
                                                    <th>Moto</th>
                                                    <th>Vote</th>
                                                    <th>Date</th>
                                                </tr>
                                                </thead>

                                                <tbody>
                                                {% for historique in pagination %}
                                                    <tr>
                                                        <td>
                                                            {{ historique.scenario.user.username }}
                                                            <br>
                                                            {% if historique.scenario.user.image %}
                                                            <img
                                                                    src="{{ asset(historique.scenario.user.image.webPath) }}"
                                                                    alt="{{ historique.scenario.user.image.alt }}"
                                                                    width="60px"
                                                                    height="60px"
                                                                    class="img-responsive img-circle"
                                                            />
                                                            {% else %}
                                                        <td>Aucun avatar</td>
                                                        {% endif %}
                                                        </td>
                                                        <td>{{ historique.scenario.nom }}</td>
                                                        <td>{{ historique.solution.question }}</td>
                                                        <td>
                                                            {{ historique.moto.modele.marque }}
                                                            {{ historique.moto.modele }}
                                                            {{ historique.moto.modele.cylindree.Valeur }}
                                                            {{ historique.moto.annee }}
                                                        </td>
                                                        {% if historique.voteReponse == true %}
                                                            <td>
                                                                <img src="{{ asset('Images/good-quality.png') }}"
                                                                     width="50px"
                                                                     height="50px"
                                                                     class="img-responsive img-circle"
                                                                >
                                                            </td>
                                                        {% else %}
                                                            <td>
                                                                <img src="{{ asset('Images/icons8-unlike-48.png') }}"
                                                                     width="50px"
                                                                     height="50px"
                                                                     class="img-responsive img-circle"
                                                                >
                                                            </td>
                                                        {% endif %}
                                                        <td>{{ historique.createdAt|date('d/m/Y') }}</td>
                                                        <td>
                                                            <a href="{{ path('user_delete_historique', {'id': historique.id}) }}"><button type="button" class="btn btn-pill btn-md btn-danger">X</button></a>
                                                        </td>
                                                    </tr>
                                                {% else %}
                                                    <tr>
                                                        <td colspan="12">Aucun scénario n'est enregistré pour le moment</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                            {{ knp_pagination_render(pagination) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>

                    {# Card 4 : Gestion des scénarios de l'utilisateur #}
                    {% if is_granted('ROLE_MODERATEUR') %}
                        <div class="card bg-dark border-primary">
                            <div class="card-header" role="tab" id="headingFour">
                                <h5 class="mb-0" style="text-align: center">
                                    <a class="" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        Vos scénarios
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion" style="">
                                <div class="card-body">
                                    <div class="col-lg-12">
                                        <div class="card bg-dark text-primary">
                                            <div class="card-header" style="text-align: center">
                                                <h5>Vous retrouverez ici tous les scénarios que vous avez créé</h5>
                                            </div>

                                            <div class="card-body text-center">
                                                <table class="table table-striped table-responsive-sm table-bordered table-dark table-hover table-outline">
                                                    <thead class="thead-dark">
                                                    <tr>
                                                        <th>Scénario</th>
                                                        <th>Nombre de votes</th>
                                                        <th>Satisfaction</th>
                                                        <th>Nombre de Q/R</th>
                                                        <th>Modifier</th>
                                                        <th>Supprimer</th>
                                                    </tr>
                                                    </thead>

                                                    <tbody>
                                                    {% for scenario in user.scenarios %}
                                                        <tr>

                                                            <td>
                                                                {{ scenario.nom }}
                                                            </td>
                                                            <td>
                                                                {{ scenario.historiques.count }}
                                                            </td>

                                                            {% if scenario.historiques.count > 0 %}
                                                                <td>
                                                                    <div class="clearfix">
                                                                        <div class="float-center">
                                                                            <strong>{{ scenario.satisfactionPourcentage|number_format }}%</strong>
                                                                        </div>
                                                                    </div>

                                                                    <div class="progress">
                                                                        <div class="progress-bar progress-bar-striped progress-bar-animated
                                                                            {% if scenario.satisfactionPourcentage <= 35 %}
                                                                                bg-danger
                                                                            {% elseif  scenario.satisfactionPourcentage >= 75%}
                                                                                bg-success
                                                                            {% else %}
                                                                                bg-warning
                                                                            {% endif %}"
                                                                             role="progressbar"
                                                                             aria-valuenow="{{ scenario.satisfactionPourcentage }}"
                                                                             aria-valuemin="0" aria-valuemax="100" style="width:
                                                                        {% if scenario.satisfactionPourcentage == 0 %}
                                                                                100%;
                                                                        {% else %}
                                                                            {{ scenario.satisfactionPourcentage }}%;
                                                                        {% endif %}
                                                                                ">

                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            {% else %}
                                                                <td>Aucun vote</td>
                                                            {% endif %}

                                                            <td>
                                                                {{ scenario.questionReponses.count }}
                                                            </td>

                                                            <td>
                                                                <a href="{{ path('list_question_reponse', {'id' : scenario.id}) }}"><button type="button" class="btn btn-pill btn-md btn-warning">Modifier</button></a>
                                                            </td>
                                                            <td>{{ include('scenario/_delete_form.html.twig') }}</td>
                                                        </tr>
                                                    {% else %}
                                                        <tr>
                                                            <td colspan="12">Aucun scénario n'est enregistré pour le moment</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
{% endblock %}